xrdb ~/.Xresoures &
setxkbmap -model pc104 -layout us,ge -variant ,, -option grp:alt_shift_toggle
picom &		# Transparency
numlockx on  &	# Numlock On 
nm-applet & 	# NetworkManager is the most popular way to manage wireless Networks on Linux,
                # and nm-applet is a desktop environment-independent system tray GUI for it.
nitrogen --restore &	# Desktop Background
unclutter &	# Remove mouse when idle
# xss-lock --transfer-sleep-lock -- i3lock --nofork & # Lock the system after sending sleep signal
clipster -d &	# Minimalistic Clipboard Manager
dunst & 	# Notification Manager
